@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 0;
}






/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .navbar_shadow_lefpt{
    @apply shadow-[10px_0px_15px_-3px_rgba(0,0,0,0.1),_10px_0px_6px_-2px_rgba(0,0,0,0.05)];
  }
}

